# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# =========================
# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100

/db/*.json
/nbproject/*.xml

.Trashes
dbconnect.php
portal/b/includes/tinymce
portal/b/includes/dbconnect.php
reports/ckeditor
portal/b/includes/cas
public/file
aula
tests/
.vscode/
.idea/
Am*

A_*

.buildpath
.project
portal/b/includes/dbconnect.php
portal/b/teste/db.php
eApp/events/urg/formato-TV_URG-amarin@atdi.us.com.csv


/docs/chart_MEX_2.xml
/KMLs/
/monitoring/argus/argus_path.xml
/monitoring/includes/scorpio_locals.php
/elearning/nbproject/private/